<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3dEbIWnx5S4z7_nCZa85BVmNEXbkPv9E</string>
	<key>GCM_SENDER_ID</key>
	<string>725449484771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamuelZhou.MenuVisionUI</string>
	<key>PROJECT_ID</key>
	<string>authformenuvision</string>
	<key>STORAGE_BUCKET</key>
	<string>authformenuvision.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725449484771:ios:4ed19d6a9b7956725458d6</string>
</dict>
</plist>