venv/
__pycache__/
*.pyc
*.pyo
.env
*.log
*.sqlite3
.DS_Store
frontend/MenuVisionUI.xcodeproj/xcuserdata/
*.xcuserstate
frontend/MenuVisionUI.xcodeproj/project.xcworkspace/
frontend/MenuVisionUI.xcodeproj/xcuserdata/